@charset "utf-8";
/* CSS Document */
nav{position: fixed;width:100%;padding:20px 0;background-color: rgba(255,255,255,0.8);box-shadow: 0 5px 10px #ddd;border:none; z-index: 9999998 }
section{min-height:800px;padding:100px 0}
footer{padding:50px 0;background-color: #6BA2FF}
nav .menu a{text-decoration: none;color:#333;font-weight:800;padding:10px 30px;font-size:20px }
nav .menu a:hover{border-bottom: 2px solid rgba(39,105,218,1.00)}
.btn-primary{background-color: #FFF0C4;padding: 10px 20px; text-decoration: none;font-weight: bold;color:#2769DA;font-size: 20px;}
.bg-dot{}